
table, th, td {
border: 1px solid black;
border-collapse: collapse;
}
            
body {
background: lightblue;  
}

.dark-mode {
    background-color: black;
    color: white;
    }
    .mySlides{ display: none}