
table, th, td {
border: 1px solid black;
border-collapse: collapse;
}
            
body {
background: lightblue;  
}

.dark-mode {
    background-color: black;
    color: white;
    }
    .mySlides{ display: none}

    <style>
    .browser > h2, p {
      margin: 4px;
      font-size: 90%;
    }
    
    footer {
      text-align: center;
      padding: 3px;
      background-color: white;
      color: black;
    }
    </style>