
ul {
list-style-type: none;
margin: 0;
padding: 0;
}

body {
padding:50px;
background-color: white;
color: black;
font-size: 15px;
}

.dark-mode {
background-color: black;
color: white;
}
.mySlides{ display: none}

body {
font-family: "Lato", sans-serif;
font-size: 15px;
background: lightblue; /* fallback for old browsers */
} 

  
