body {
    background: lightblue;  
    }


table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    }

.dark-mode {
    background-color: black;
    color: white;
    }
    .mySlides{ display: none}

