html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.header {
  position: relative;
  text-align: center;
  padding: 10px;
  z-index: 9999;
  box-shadow: 2px 3px 6px 0 rgba(0, 0, 0, 0.2);
  width: 100%;
  background: #0f1629;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body,
html {
  height: 100%;
  width: 100%;
  background-color: #0f1629;
}

.bg {
  background-image: url("/assets/img/skyworks_bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
}

.content {
  position: relative;
  background-color: #0f1629;
  min-height: 500px;
  width: 100%;
  font-family: "Arial";
  line-height: 40px;
  color: white;
  font-size: 16px;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}

.content p {
  margin: auto;
  text-align: center;
  padding: 50px;
  max-width: 900px;
}

.colour-changer__button,
.configurator-button {
  display: inline-block;
  border-radius: 0px;
  text-transform: uppercase;
  border: 2px solid white;
  font-size: 16px;
  letter-spacing: 2px;
  padding: 10px 40px;
  margin-top: 20px;
  text-decoration: none;
  transition: all ease-in-out 0.25s;
  color: #ffffff;
}

.colour-changer__button:hover,
.configurator-button:hover {
  background-color: white;
  color: #0f1629;
}

.configurator-button {
  position: absolute;
  right: 45px;
  top: 17px;
  margin: 0;
}

.parallax {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-perspective: 1px;
  -ms-perspective: 1px;
  perspective: 1px;
}

.parallax__group {
  position: relative;
  height: 100vh;
  overflow-scrolling: touch;
  -webkit-overflow-scrolling: touch;
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.parallax__layer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100%;
}

.parallax__layer--base {
  -webkit-transform: translateZ(0);
  height: 100%;
  z-index: -2;
}

.parallax__layer--grass {
  transform: translateZ(-1px) scale(2);
  background-image: url("https://dl.dropboxusercontent.com/s/t5vbj0v70nme0eo/grass.png");
  margin-top: 78%;
  z-index: -3;
}

.parallax__layer--mountains {
  position: fixed;
  transform: translateZ(-3px) scale(4);
  background-image: url("https://dl.dropboxusercontent.com/s/rz19t30s1hscptf/mountains.png");
  margin-top: 25%;
  z-index: -3;
}

.parallax__layer--road {
  position: fixed;
  transform: translateZ(-2px) scale(3);
  background-image: url("https://dl.dropboxusercontent.com/s/qea9xx6qkgpc2tk/road.png");
  margin-top: 30%;
  z-index: -4;
}

.parallax__layer--clouds {
  position: fixed;
  transform: translateZ(-4px) scale(5);
  background-image: url("https://dl.dropboxusercontent.com/s/0913t5rek5nbxod/clouds1.png");
  margin-top: -55%;
  z-index: -6;
}

.parallax__layer--car {
  position: fixed;
  transform: translateZ(-2px) scale(3);
  background-image: url("https://dl.dropboxusercontent.com/s/ob02t0liqv929cf/orangesilver.png");
  width: 36vw;
  margin-top: 95%;
  margin-left: 32%;
  z-index: -4;
  animation: drive 9s ease-in-out infinite;
}

.parallax__layer--bg {
  position: fixed;
  transform: translateZ(-5px) scale(6);
  background-image: url("https://dl.dropboxusercontent.com/s/y172au05tjlil5j/background.png?dl=0");
  background-size: 100%;
  height: 100vh;
  z-index: -10;
}

.base {
  height: 100%;
  position: absolute;
  width: 100%;
  bottom: 0px;
  background-color: transparent;
}

body,
html {
  overflow: hidden;
  background-color: #0f1629;
}

body {
  font: 100% / 1.5 Arial;
}

* {
  margin: 0;
  padding: 0;
}

.parallax {
  font-size: 200%;
}

.title {
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.grass-cover {
  margin-top: 12%;
  width: 100%;
  height: 100%;
  background-color: #0f1629;
}

.scroll-fill {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: transparent;
  opacity: 0.5;
}

@keyframes drive {
  0% {
    margin-left: 250%;
  }
  100% {
    margin-left: -250%;
  }
}

h1 {
  font-size: 22px;
  letter-spacing: 8px;
  text-transform: uppercase;
}

h2 {
  font-size: 13px;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.colour-changer__list {
  margin: 10px 0;
}

.colour-changer__item {
  display: inline-block;
}

.colour-changer__item input[type="radio"] {
  position: absolute;
  visibility: hidden;
}

.colour-changer__label span {
  display: none;
}

.colour-changer__label:before {
  left: 0;
  top: 0;
  width: 23px;
  height: 23px;
  margin-right: 5px;
  content: "";
  display: inline-block;
  background: #fff;
  border: 4px solid #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 1px #fff;
  box-shadow: 2px 3px 6px 0 rgba(0, 0, 0, 0.2);
}

.colour-changer__item
  input[type="radio"]:checked
  ~ .colour-changer__label:before {
  width: 40px;
  height: 40px;
  background-image: url(https://dl.dropboxusercontent.com/s/2w8gf335o9i7ycf/tick.png?dl=0);
  background-size: 24px 24px;
  background-position: center;
  background-repeat: no-repeat;
}

.colour-changer__item--orange .colour-changer__label:before {
  background: #d3471a;
}

.colour-changer__item--purple .colour-changer__label:before {
  background: #9d41aa;
}

.colour-changer__item--blue .colour-changer__label:before {
  background: #4071ac;
}

.colour-changer__item--silver .colour-changer__label:before {
  background: #999999;
}

.colour-changer__item--gunmetal-grey .colour-changer__label:before {
  background: #5e5e5e;
}

.colour-changer__item--black .colour-changer__label:before {
  background: #000000;
}
